@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    max-height: 100%;
}
input,
textarea,
select {
    @apply border border-cyan-400 rounded-md px-1 w-full py-2 px-3;
    @apply mb-2;
}
input:focus,
textarea:focus,
select:focus {
    @apply border-violet-500;
}
h1 {
    @apply text-cyan-600 mb-4 text-xl;
}
label {
    @apply text-cyan-500 text-sm;
}
.btn-primary {
    @apply bg-violet-400 text-white border-violet-900 border-2 px-4 py-1 rounded-full shadow-sm;
    transition: ease-in 0.3s;
    -webkit-transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    -ms-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
}

.btn-primary:hover {
    @apply bg-primary text-white;
}

table.basic {
    @apply w-full bg-white rounded-md shadow-md;
}
table.basic thead tr td,
table.basic thead tr th {
    @apply text-sm text-gray-600 uppercase border-b border-gray-900 px-4 py-2;
}
table.basic tr td {
    @apply px-4 py-1;
}
table.basic a {
    @apply px-4 rounded-sm inline-flex mx-1 items-center gap-1 text-sm py-1;
}
.btn-default,
.btn-red {
    @apply px-4 py-1;
    transition: ease-in 0.3s;
    -webkit-transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    -ms-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
}
.btn-red {
    @apply bg-red-200 text-red-600 shadow-sm rounded-full border-2 border-red-600;
}
.btn-red:hover{
    @apply bg-red-600 text-bgGray;
}

.btn-default {
    @apply bg-cyan-100 text-cyan-700 border-2 border-cyan-500 shadow-sm rounded-full;
}
.btn-default:hover{
    @apply bg-cyan-700 hover:text-white ;
}
